/* You can add global styles to this file, and also import other style files */

.hover-cursor{
    cursor:pointer;
}
.done{
    text-decoration: line-through;
    color:#eee!important;
}
.container{
    background: url(../src/assets/white-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;  
    height: 100vh;
    width:100%;
}
.jumbotron{
    border:3px solid #e0e0e0;
    
}