/* You can add global styles to this file, and also import other style files */

.hover-cursor{
    cursor:pointer;
}
#header{
    background-color:#ebe;
}
.done{
    text-decoration: line-through;
    color:#eee!important;
}