<div class="bg">

    <div class="jumbotron" id="header" style="padding:45px 0px;">
        <h4 class="text-center">To Do List App</h4>
    </div>

    <div class="input-group">
        <input type="text" class="form-control" #itemTitle (keyup.enter)="onAdd(itemTitle)">
    </div>

    <div style="margin:5px 0px">
        <ul class="list-group" *ngFor="let item of toDoListArray">
            <li class="list-group-item" [class.text-success]="item.isChecked" [ngClass]="item.isChecked?'done':''">
                <span class="hover-cursor" (click)="alterCheck(item.$key,item.isChecked)">
                    <i class="fa fa-lg" [ngClass]="item.isChecked?'fa-check-circle-o':'fa-circle-thin'"></i>
                </span>
                {{item.title}}
                <span class="hover-cursor text-danger pull-right" (click)="onDelete(item.$key)">
                    <i class="fa fa-trash-o fa-lg"></i>
                </span>
            </li>
        </ul>

    </div>
    
</div>